.main {
  padding: 20px;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}


