//intro section
.intro-wrapper {
    background: #1C71FF;
    overflow: hidden;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 58.8%;
        background: #1C60FF;
    }
    margin-bottom: -25vh;
    @include media('>=desktop') {
        margin-bottom: -137px;
    }
    @include media('>=large') {
        margin-bottom: -200px; //margin-bottom: -111px;
    }
}

.intro {
    width: 100%;
    height: calc(100vh + 255px);
    transition: height 1s 1s;
    position: relative;
    z-index: 2;
    overflow: hidden;
    @include media('>=large') {
        height: calc(100vh + 470px);
    }
    .left-ovh {
        width: 41.2%;
        overflow: hidden;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .parall {
        display: none;
    }
    .triangle {
        position: absolute;
        background: #fff;
        left: 0;
        bottom: -115%;
        height: 100%;
        transform: skewY(17.7deg) translateY(-50%);
        width: 60vw;
        z-index: -3;
        &.right {
            left: auto;
            right: 0;
            transform: skewY(-17.7deg) translateY(-50%);
        }
    }
    @include media('>=desktop') {
        .parall {
            display: block;
            width: 140px;
            height: 128px;
            position: absolute;
            top: 57%;
            left: 22%;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #1a6df8;
                animation: scale 10s linear infinite;
                transform: skewY(17.7deg) scale(1);
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                animation: pulse 10s linear infinite;
                box-shadow: 25px -25px 20px rgba(65, 0, 163, 0.25);
                transform: skewY(17.7deg) scale(1);
                z-index: -4;
            }
            &.flip {
                &:after {
                    transform: skewY(-17.7deg);
                    animation: scaleflip 10s linear infinite;
                    background: #195cfa;
                }
                &:before {
                    animation: pulseflip 10s linear infinite;
                    box-shadow: -25px -25px 20px rgba(65, 0, 163, 0.25);
                    transform: skewY(-17.7deg) scale(1);
                }
            }
            &.two {
                top: 51%;
                left: 78%;
                width: 183px;
                height: 150px;
                &:before,
                &:after {
                    animation-delay: -1s;
                }
            }
            &.three {
                top: 44%;
                left: 51%;
                width: 163px;
                height: 141px;
                &:before,
                &:after {
                    animation-delay: -2s;
                }
            }
            &.four {
                top: 11%;
                left: 80%;
                width: 110px;
                height: 90px;
                &:before,
                &:after {
                    animation-delay: -3s;
                }
            }
            &.five {
                top: 14%;
                left: -3%;
                width: 110px;
                height: 95px;
                &:before,
                &:after {
                    animation-delay: -4s;
                }
            }
        }
    }
    @include media('>=large') {
        .parall {
            width: 246px;
            height: 220px;
            top: 52.5%;
            left: 16.44%;
            &.two {
                top: 47%;
                left: 76%;
                width: 322px;
                height: 271px
            }
            &.three {
                top: 41%;
                left: 56%;
                width: 185px;
                height: 164px;
            }
            &.four {
                top: 20%;
                left: 75%;
                width: 127px;
                height: 104px;
            }
            &.five {
                top: 13%;
                left: 7%;
                width: 110px;
                height: 95px;
            }
        }
    }
    .intro-text {
        position: absolute;
        left: 17px; //top: 53%;
        top: 37vh;
        right: 20px; //transform: translateY(-140%);
        color: $color-white;
        z-index: 6;
        font: 13px/18px $font-main;
        @include media('>=tablet') {
            left: 11.7%; //top: 53.2%;
            top: 24vh;
            right: auto;
        }
        @include media('>=large') {
            left: 8.2%; //top: 52.4%;
        }
        h1 {
            text-transform: uppercase;
            word-spacing: -3px;
            margin-bottom: 7px;
            letter-spacing: 2px;
            font-size: 40px;
            line-height: 41px;
            @include media('>=tablet') {
                margin-bottom: 10px;
                letter-spacing: 3px;
                font-size: 80px;
                line-height: 82px;
            }
            @include media('>=large') {
                letter-spacing: 4px;
                word-spacing: -5px;
            }
        }
        p {
            margin-bottom: 18px;
            @include media('>=tablet') {
                padding-left: 6px;
            }
        }
        @include media('>=tablet') {
            font: 20px/46px $font-main;
        }
    }
}

@keyframes pulse {
    0%,
    100% {
        box-shadow: 25px -25px 20px rgba(65, 0, 163, 0.25);
        transform: skewY(17.7deg) scale(1);
    }
    50% {
        box-shadow: 10px -10px 10px rgba(65, 0, 163, 0.25);
        transform: skewY(17.7deg) scale(0.95);
    }
}

@keyframes pulseflip {
    0%,
    100% {
        box-shadow: -25px -25px 20px rgba(65, 0, 163, 0.25);
        transform: skewY(-17.7deg) scale(1);
    }
    50% {
        box-shadow: -10px -10px 10px rgba(65, 0, 163, 0.25);
        transform: skewY(-17.7deg) scale(0.95);
    }
}

@keyframes scale {
    0%,
    100% {
        transform: skewY(17.7deg) scale(1);
    }
    50% {
        transform: skewY(17.7deg) scale(0.98);
    }
}

@keyframes scaleflip {
    0%,
    100% {
        transform: skewY(-17.7deg) scale(1);
    }
    50% {
        transform: skewY(-17.7deg) scale(0.98);
    }
}

//end intro section
//two-col-block section
.two-col-block {
    max-width: 1095px;
    padding-left: 19px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
    @include media('>=tablet') {
        display: flex;
        flex-direction: row;
        margin-bottom: 70px;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
    @include media('>=large') {
        max-width: 1710px;
        margin-bottom: 143px;
    }
    .animate-block {
        margin-bottom: 24px;
        @include media('>=xtablet') {
            min-width: 483px;
            margin-bottom: 33px;
            text-align: center;
            img {
                opacity: 1;
                transition: .8s;
            }
        }
        @include media('>=large') {
            margin-left: 60px;
            margin-right: 60px;
        }
    }
    h2 {
        color: $color-blue;
        text-transform: uppercase;
        margin-bottom: 16px;
        @include media('>=large') {
            font-size: 80px;
            line-height: 82px;
            margin-bottom: 20px;
            letter-spacing: 4px;
            word-spacing: -2px;
        }
    }
    .btn {
        margin-left: 18px;
        @include media('>=tablet') {
            margin-left: 0;
            min-width: 198px;
        }
    }
    >* {
        flex-grow: 1;
        flex-basis: 0;
    }
    &.flip {
        flex-direction: row-reverse;
    }
    .description {
        font: 13px/18px $font-main;
        @include media('>=tablet') {
            font: 16px/28px $font-main;
            padding: 23px 30px 0 60px;
            blockquote {
                margin-left: -30px;
            }
        }
        @include media('>=desktop') {
            min-width: 550px;
            padding-right: 0;
            max-width: 45%;
        }
        @include media('>=large') {
            padding-top: 74px;
        }
    }
    .ico-list {
        font-size: 0;
        line-height: 0;
        letter-spacing: 0;
        text-align: left;
        margin-bottom: 0;
        @include media('>=tablet') {
            padding: 9px 25px 0 120px;
            margin-bottom: 25px;
        }
        @include media('>=desktop') {
            max-width: 55%;
        }
        @include media('>=large') {
            //padding: 83px 25px 0 220px;
            padding: 83px 25px 0 184px;
        }
        li {
            list-style: none;
            max-width: calc(50% - 30px);
            display: inline-block;
            vertical-align: top;
            font: 16px/22px $font-title;
            color: $color-blue;
            text-transform: uppercase;
            margin: 0 15px 14px;
            text-align: center;
            width: calc(50% - 30px);
            @include media('>=tablet') {
                width: 170px;
                margin-bottom: 42px;
            }
            @include media('>=large') {
                margin-left: 25px;
                margin-right: 25px;
            }
            img {
                display: block;
                margin: 0 auto 24px;
                height: 56px;
                @include media('<tablet') {
                    max-width: 30px;
                    margin-bottom: 5px;
                }
            }
            p {
                margin: 0 -7px;
                letter-spacing: 3px;
                word-spacing: -2px;
                @include media('<tablet') {
                    font-size: 12px;
                    letter-spacing: 2px;
                    word-spacing: 0;
                }
            }
        }
    }
}

//end two-col-block section
//skew-block section
.skew-block {
    position: relative;
    padding: 80px 20px 60px 20px;
    margin-bottom: 52px;
    color: $color-white;
    text-align: center;
    overflow: hidden;
    font: 12px/17px $font-main;
    @include media('>=tablet') {
        padding: 93px 20px 142px;
        margin-bottom: 97px;
        font: 18px/28px $font-main;
    }
    @include media('>=xlarge') {
        padding: 189px 20px 242px;
    }
    @include media('>=large') {
        letter-spacing: 1px;
        padding: 92px 20px 199px;
    }
    .social {
        @include media('<xtablet') {
            font-size: 0;
            line-height: 0;
        }
        li {
            list-style: none;
            margin: 0 5px 5px;
            display: inline-block;
            vertical-align: baseline;
            @include media('>=xphone') {
                margin: 0 10px 10px;
            }
            @include media('>=large') {
                margin: 0 8px;
            }
        }
        img {
            max-width: 20px;
            max-height: 16px;
            margin-right: 15px;
        }
        a {
            white-space: nowrap;
        }
    }
    h2,
    h3 {
        text-transform: uppercase;
        @include media('>=desktop') {
            margin-bottom: 46px;
        }
        @include media('>=large') {
            margin-bottom: 49px;
            letter-spacing: 3px;
        }
    }
    a {
        color: $color-white;
        text-decoration: none; //&:hover{
        //  text-decoration: underline;
        //}
    }
    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $color-blue;
        transform: translateY(-5vw) skewY(-5deg);
    }
    &.flip {
        @include media('>=tablet') {
            &:after {
                transform: translateY(-4vw) skewY(4deg);
            }
        }
    }
    .holder {
        position: relative;
        z-index: 2;
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        @include media('>=desktop') {
            max-width: 1200px;
        }
        @include media('>=large') {
            max-width: 1440px;
        }
    }
    p {
        @include media('>=desktop') {
            margin-bottom: 34px;
            margin-top: -39px;
        }
    }
    .btn {
        @include media('>=tablet') {
            padding-left: 50px;
            padding-right: 50px;
            margin-bottom: 0;
            min-width: 198px;
        }
    }
}

//end skew-block section
//icons-list-holder section
.icons-list-holder {
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    padding: 15px;
    @include media('>=desktop') {
        //padding-bottom: 143px;
        padding-bottom: 60px;
    }
    @include media('>=large') {
        padding-bottom: 177px;
    }
    .container {
        @include media('<tablet') {
            padding-left: 0;
            padding-right: 0;
        }
        @include media('>=xtablet') {
            max-width: 1013px;
        }
        @include media('>=large') {
            max-width: 1480px;
        }
    }
    p {
        @include media('<tablet') {
            margin-bottom: 0;
        }
    }
    h2 {
        color: $color-blue;
        max-width: 700px;
        text-transform: uppercase;
        margin-bottom: 17px;
        @include media('>=desktop') {
            margin-bottom: 65px;
        }
        @include media('>=large') {
            font-size: 80px;
            line-height: 82px;
            letter-spacing: 4px;
            word-spacing: -2px;
        }
    }
    ul {
        margin-left: -15px;
        margin-right: -15px;
        text-align: center;
    }
    li {
        padding: 0 19px 25px;
        list-style: none;
        display: inline-block;
        vertical-align: top;
        font: 12px/17px $font-main;
        text-align: left;
        @include media(">=xphone") {
            width: 33%;
        }
        @include media(">=tablet") {
            font: 14px/24px $font-main;
        }
    }
    img {
        margin-bottom: 10px;
        max-width: 30px;
        @include media(">=tablet") {
            margin-bottom: 19px;
            max-width: 64px;
        }
        img[data-gif-src$="gif"] {
            @include media(">=xtablet") {
                opacity: 0;
                transition: .8s;
            }
        }
    }
    &.centered {
        @include media(">=xtablet") {
            text-align: center;
            margin-bottom: -28px;
        }
        h2 {
            max-width: 100%;
            @include media("<xtablet") {
                margin-bottom: 49px;
            }
            @include media(">=large") {
                margin-bottom: 137px;
            }
        }
        img {
            margin-bottom: 28px;
            max-width: 132px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            @include media(">=tablet") {
                margin-bottom: 38px;
                max-width: 245px;
            }
            @include media(">=xtablet") {
                min-height: 190px;
                opacity: 1;
                transition: opacity .5s;
            }
        }
        li {}
    }
}

//end icons-list-holder section
//long-animations section
.long-animations {
    text-align: center;
    margin-bottom: 11px;
    @include media('>=desktop') {
        margin-bottom: 108px;
        padding-top: 14px;
    }
    @include media('>=large') {
        margin-bottom: 150px;
    }
    h2 {
        color: $color-blue;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 30px;
        @include media('>=desktop') {
            margin-bottom: 112px;
            max-width: 55%;
        }
        @include media('>=large') {
            font-size: 80px;
            line-height: 82px;
            margin-bottom: 40px;
            letter-spacing: 4px;
            word-spacing: -2px;
        }
    }
    .container {
        max-width: 1020px;
        @include media('>=large') {
            max-width: 1480px;
        }
    }
    .btn {
        @include media('>=tablet') {
            min-width: 198px;
        }
    }
}

//end long-animations section
//start steps
.steps {
    font: 12px/17px $font-main;
    @include media(">=xtablet") {
        font: 14px/24px $font-main;
        margin-bottom: 227px;
    }
    .slick-dots {
        margin: 0 0 40px;
        padding-left: 40px;
        font-size: 0;
        line-height: 0;
        letter-spacing: 0;
        @include media("<tablet") {
            padding-left: 60px;
            text-align: left;
            margin-bottom: 49px;
        }
        li {
            list-style: none;
            display: inline-block;
            vertical-align: top;
            padding-right: 9px;
        }
        button {
            border-radius: 50%;
            font-size: 0;
            line-height: 0;
            letter-spacing: 0;
            padding: 0;
            width: 7px;
            height: 7px;
            opacity: .5;
            border: none;
            background-color: $color-blue;
            position: relative;
            margin: 0;
            &:after {
                content: '';
                position: absolute;
                top: -4px;
                right: -4px;
                left: -4px;
                bottom: -4px;
            }
            &:hover {
                background-color: $color-blue;
                opacity: 1;
            }
        }
        .slick-active {
            button {
                opacity: 1;
            }
        }
    }
    .slick-slide {
        margin-bottom: 10px;
        overflow: hidden;
    }
    .text {
        text-align: left;
        @include media(">=xtablet") {
            position: absolute;
            padding: 0 15px; //opacity: 0;
            //transition: opacity 1s 1s, margin-top 1s 1s;
            //margin-top: 100px;
            &:after {
                content: '';
                position: absolute;
                right: 100%;
                width: 188px;
                height: 1px;
                background-color: $color-mint;
                opacity: .5;
                top: 17px;
            }
            &:before {
                content: '';
                position: absolute;
                right: calc(100% + 188px);
                top: 16px;
                width: 3px;
                height: 3px;
                background-color: $color-mint;
            }
        }
        p {
            overflow: hidden;
            @include media(">=xtablet") {
                padding-top: 5px;
            }
        }
    } //img[data-flag$="0"] + .text{
    //  @include media(">=xtablet") {
    //    opacity: 1;
    //    margin-top: 0;
    //  }
    //}
    li {
        list-style: none;
        overflow: hidden;
        position: relative;
        @include media(">=xtablet") {
            overflow: visible;
            img {
                max-width: none;
                display: block;
                opacity: 1;
                transition: opacity 1s;
            }
        }
        @include media(">=large") {
            margin-left: 180px;
        }
        &:nth-child(1) {
            @include media(">=xtablet") {
                img {
                    width: 500px;
                    height: 290px;
                    margin-left: 129px;
                }
            }
            .text {
                @include media(">=xtablet") {
                    right: 6px;
                    top: 58%;
                    transform: translateY(-50%);
                    width: 325px;
                    &:after {
                        transform-origin: 0 0 0;
                    }
                }
                @include media(">=large") {
                    width: 380px;
                    right: 85px;
                    &:after {
                        width: 300px;
                    }
                    &:before {
                        right: calc(100% + 300px);
                    }
                }
            }
        }
        &:nth-child(2) {
            @include media(">=xtablet") {
                margin-top: -154px;
                img {
                    width: 735px;
                    height: 395px;
                    margin-left: 262px;
                    transition-delay: .9s;
                }
            }
            .text {
                @include media(">=xtablet") {
                    left: -11px;
                    top: 92%;
                    transform: translateY(-50%);
                    width: 325px;
                    &:after {
                        left: 100%;
                        width: 333px;
                        transform-origin: 100% 0 0;
                    }
                    &:before {
                        left: calc(100% + 333px);
                    }
                }
                @include media(">=large") {
                    width: 400px;
                    left: -166px;
                    top: 79%;
                    &:after {
                        width: 430px;
                    }
                    &:before {
                        left: calc(100% + 430px);
                    }
                }
            }
        }
        &:nth-child(3) {
            @include media(">=xtablet") {
                margin-top: -150px;
                img {
                    width: 693px;
                    height: 426px;
                    margin-left: 93px;
                    transition-delay: 1s;
                }
            }
            .text {
                @include media(">=xtablet") {
                    right: -28px;
                    top: 74%;
                    transform: translateY(-50%);
                    width: 360px;
                    &:after {
                        width: 200px;
                        transform-origin: 0 0 0;
                    }
                    &:before {
                        right: calc(100% + 200px);
                    }
                }
                @include media(">=large") {
                    width: 345px;
                    top: 76%;
                    right: 196px;
                    &:after {
                        width: 333px;
                    }
                    &:before {
                        right: calc(100% + 333px);
                    }
                }
            }
        }
        &:nth-child(4) {
            @include media(">=xtablet") {
                margin-top: -210px;
                img {
                    width: 390px;
                    height: 322px;
                    margin-left: 243px;
                    transition-delay: 1s;
                }
            }
            .text {
                @include media(">=xtablet") {
                    left: -10px;
                    top: 104%;
                    transform: translateY(-50%);
                    width: 360px;
                    &:after {
                        left: 100%;
                        width: 188px;
                        transform-origin: 100% 0 0;
                    }
                    &:before {
                        left: calc(100% + 188px);
                    }
                }
                @include media(">=large") {
                    width: 420px;
                    left: -200px;
                    &:after {
                        width: 300px;
                    }
                    &:before {
                        left: calc(100% + 300px);
                    }
                }
            }
        }
    }
    img {
        margin-bottom: 32px;
        @include media(">=xtablet") {
            margin-bottom: 20px;
        }
    }
}

.num {
    float: left;
    font: 59px/60px $font-title;
    color: $color-blue;
    margin-right: 7px;
    @include media(">=xtablet") {
        margin-right: 15px;
        font: 48px/60px $font-title;
    }
}

//end steps
//video section
.video-block {
    margin-bottom: 50px;
    @include media('>=tablet') {
        margin-bottom: 156px;
    }
    @include media('>=large') {
        padding-top: 84px;
        margin-bottom: 193px;
    }
    >h2 {
        text-align: center;
        color: $color-blue;
        text-transform: uppercase;
        @include media('>=tablet') {
            margin-bottom: 75px;
        }
        @include media('>=large') {
            font-size: 80px;
            line-height: 82px;
            letter-spacing: 4px;
            word-spacing: -2px;
            margin-bottom: 91px;
        }
    }
    .video-slider {
        .slick-slide {
            width: calc(100vw - 70px);
            margin: 0 5px;
            position: relative;
            transform: scale(0.93);
            transition: transform .3s;
            @include media('>=large') {
                transform: scale(0.82);
            }
            &.slick-active {
                transform: scale(1);
                @include media('>=large') {
                    transform: scale(1);
                }
                .text-holder {
                    opacity: 1;
                }
            }
            @include media('>=tablet') {
                width: calc(100vw - 310px);
                margin: 0 15px;
            }
            @include media('>=large') {
                width: calc(100vw - 820px);
                margin: 0;
            }
        }
    }
    .holder {
        width: 100%;
        .box {
            position: relative;
            padding-top: 56.25%; //padding-top: 51%;
            height: 0;
        }
        iframe {
            width: 100% !important;
            height: 100% !important;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 0 !important;
        }
    }
    .video-placeholder {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(28, 96, 255, .8);
            z-index: 1;
        }
        .btn-watch {
            position: absolute;
            z-index: 2;
            font-size: 0;
            left: 24px;
            top: 28px;
            .ico {
                margin-right: 0;
                width: 27px;
                height: 31px;
                display: block;
            }
            @include media('>=tablet') {
                .ico {
                    height: 62px;
                    width: 54px;
                }
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .text-holder {
            position: absolute;
            z-index: 2;
            bottom: -13px;
            left: 29px;
            font: 12px/13px $font-main;
            color: $color-white;
            opacity: 0;
            transition: opacity .3s .3s;
            max-width: 70%;
            h2 {
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
                margin-bottom: 0;
                @include media('>=tablet') {
                    margin-bottom: 9px;
                }
            }
            @include media('>=tablet') {
                font: 16px/26px $font-main;
                left: 48px;
                bottom: 8px;
                letter-spacing: 1px;
                word-spacing: -2px;
                h2 {
                    font-size: 48px;
                    line-height: 56px;
                }
            }
            @include media('>=large') {
                left: 52px;
                bottom: 18px;
            }
        }
    }
}

//end video section
.history-slider-holder {
    max-width: 1070px;
    padding: 0 20px;
    margin: 0 auto 25px;
    @include media(">=desktop") {
        margin-bottom: 67px;
        .slick-track {
            will-change: left;
        }
    }
    h2 {
        text-align: center;
        color: $color-blue;
        text-transform: uppercase;
        margin-bottom: 39px;
        @include media(">=tablet") {
            margin-bottom: 62px;
        }
        @include media(">=large") {
            font-size: 80px;
            line-height: 82px;
            letter-spacing: 4px;
            word-spacing: -2px;
            margin-bottom: 177px;
        }
    }
    .history-slider-nav {
        position: relative;
        text-align: center;
        margin-bottom: 40px;
        @include media(">=tablet") {
            padding: 0 45px;
            margin-bottom: 92px;
        }
        .slick-track:before {
            content: '';
            bottom: 9px;
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background-color: #bacfff;
            @include media(">=tablet") {
                bottom: 18px;
            }
        }
        time {
            font: 12px/26px $font-medium;
            color: rgba(128, 144, 184, 0.5);
            display: block;
            margin-bottom: 15px;
            transition: color .5s, font .3s;
            white-space: nowrap;
            @include media(">=tablet") {
                font-size: 14px;
                line-height: 36px;
                margin-bottom: 23px;
            }
        }
        .point {
            width: 16px;
            height: 18px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            z-index: 3;
            @include media(">=tablet") {
                width: 32px;
                height: 36px;
            }
            svg {
                background-color: $color-white;
                display: block;
                width: 16px;
                height: 18px;
                @include media(">=tablet") {
                    width: 32px;
                    height: 36px;
                }
            }
            .out,
            .in {
                opacity: .3;
                will-change: opacity;
                transition: opacity .3s 0s;
            }
        }
        .slick-slide {
            position: relative;
            @include media("<xtablet") {
                width: 120px;
            }
            &:before {
                bottom: 9px;
                content: '';
                position: absolute;
                width: 100vw;
                height: 1px;
                background-color: $color-blue;
                right: 2000px;
                transition: right .5s .5s;
                will-change: right;
                @include media(">=tablet") {
                    bottom: 18px;
                }
            }
            &:first-child,
            &:last-child {
                time {
                    font: 15px/26px $font-title; //color: $color-blue;
                    text-transform: uppercase;
                    @include media(">=tablet") {
                        font: 30px/36px $font-title;
                    }
                }
            }
        }
        .slick-current {
            &:before {
                right: 50%;
                transition: right .5s 0s;
            }
            time {
                //font: 15px/26px $font-title;
                color: $color-blue; //text-transform: uppercase;
                //@include media(">=tablet") {
                //  font: 30px/36px $font-title;
                //}
            }
            .out,
            .in {
                opacity: 1;
                transition-delay: .5s;
            }
        }
    }
    .history-slider {
        font: 12px/17px $font-main;
        text-align: center;
        max-width: 630px;
        margin-left: auto;
        margin-right: auto;
        @include media(">=tablet") {
            font-size: 14px;
            line-height: 24px;
        }
        .for-big {
            display: none;
            @include media(">=tablet") {
                display: inline;
            }
        }
        h2 {
            margin-bottom: 0;
        }
        h3 {
            color: $color-blue;
            margin-bottom: 3px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        .sub-title {
            font: 12px/13px $font-title;
            color: $color-gray;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
            @include media(">=tablet") {
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 28px;
            }
        }
        .slick-arrow {
            border: none;
            overflow: hidden;
            text-indent: -9999px;
            width: 30px;
            height: 30px;
            position: absolute;
            z-index: 5;
            padding: 0;
            top: -7px;
            @include media(">=tablet") {
                width: 60px;
                height: 60px;
                top: -7px;
            }
            &.slick-prev {
                left: 0;
                background: url('#{$path-images}/ico-arrow-left.svg') 50% 50%/contain no-repeat;
            }
            &.slick-next {
                right: 0;
                background: url('#{$path-images}/ico-arrow-right.svg') 50% 50%/contain no-repeat;
                &.slick-disabled {
                    background: url('#{$path-images}/ico-revert.svg') 50% 50%/contain no-repeat;
                }
            }
        }
    }
}

//partners-logos section
.partners-logos {
    padding: 20px;
    margin-bottom: 54px;
    @include media(">=desktop") {
        padding: 50px;
        margin: 0 auto 98px;
        max-width: 1420px;
    }

    h2 {
        text-align: center;
        color: $color-blue;
        text-transform: uppercase;
        @include media(">=large") {
            font-size: 80px;
            line-height: 82px;
            letter-spacing: 4px;
            word-spacing: -2px;
        }
    }

    p {
        text-align: center;
        @include media('>=desktop') {
            margin-bottom: 34px;
        }
        font-size:15px;
    }

    ul {
        margin-bottom: 0;
        overflow: hidden;
        margin-top: 1px;
        margin-left: 1px;
        transform: translate3d(0, 0, 0);
        li {
            position: relative;
            list-style: none;
            border-top: 1px solid rgba(0, 146, 0250, 0.05);
            border-right: 1px solid rgba(0, 146, 0250, 0.05);
            width: 50%;
            height: 140px;
            overflow: hidden;
            float: left;
            @include media(">=tablet") {
                width: 25%;
            }
        }
        a {
            display: block;
            padding-top: 40%;
            position: relative;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 50%;
            max-height: 50%;
            @include media(">=tablet") {
                max-width: 80%;
                max-height: 80%;
            }
        }
    }

    .flip-item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        box-sizing: border-box;
    }

    .flip-item-text {
        position: absolute;
        padding: 20px;

        width: 100%;
        text-align: center;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: 100%;
    }

    .flip-item-front {
        transform: rotateY(0deg);
        z-index: 2;

    }

    .flip-item-back {
        transform: rotateY(180deg);
        z-index: 1;
        background-color: #1b72ff;

    }

    .flip-item-back .flip-item-text {
        color: #fff;
        font-size: 14px;
        line-height: 1.5;
    }

    li:hover .flip-item-front {
        z-index: 1;
        transform: rotateY(180deg);
    }

    li:hover .flip-item-back {
        z-index: 2;
        transform: rotateY(0deg);
    }

    @keyframes rotate {
        0% {
            transform-origin: center;
            transform: rotate3d(0, 0, 1, 0deg);
        }
        100% {
            transform-origin: center;
            transform: rotate3d(0, 0, 1, 360deg);
        }
    }
}

.partners-logos.dex {
    ul {
        background-color: #1e5efe;
        li {
            border-top: 1px solid rgb(200, 200, 200);
            border-right: 1px solid rgb(200, 200, 200);
        }
    }
}

.no-touch {
    .partners-logos ul a {
        opacity: 0.5;
        transition: .5s;
        &:hover {
            opacity: 1;
        }
    }
}

//end partners-logos section