//intro section
.intro-wrapper-inner{
  //overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: $color-blue;
  //height: 835px;
  height: calc(100vh - 96px);
  margin-bottom: 50px;
  @include media('>=tablet') {
    margin-bottom: 100px;
  }
  @include media('>=large') {
    margin-bottom: 201px;
  }

}
.intro-inner{
  width: 100%;
  height: calc(100vh - 96px);
  transition: height 1s 1s;
  position: relative;
  z-index: 2;
  //overflow: hidden;
  &:before{
    content: '';
    position: absolute;
    background: #fff;
    left: 0;
    height: 40%;
    transform: translateY(50%)  skewY(-4deg);
    bottom: -10vh;
    width: 100%;
    z-index: -3;
  }
  .parall{
    display: none;
  }
  @include media('>=desktop') {
    .parall{
      display: block;
      width: 105px;
      height: 105px;
      position: absolute;
      top: 29%;
      left: 23%;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #195cfa;
        animation: scale2 8s linear infinite;
      }
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: pulse2 8s linear infinite;
        z-index: -4;
      }
      &.flip{
        &:after{
          transform: skewY(-17.7deg);
          animation: scaleflip 10s linear infinite;
          background: #195cfa;
        }
        &:before{
          transform: skewY(-17.7deg);
          animation: pulseflip 10s linear infinite;
        }
      }
      &.two{
        top: 54.5%;
        left: 71.5%;
        width: 100px;
        height: 100px;
        &:before, &:after{
          animation-delay: -1s;
        }
      }
      &.three{
        top: 73%;
        left: 20.2%;
        width: 220px;
        height: 220px;
        &:before, &:after{
          animation-delay: -2s;
        }
      }
      &.four{
        top: 17%;
        left: 94%;
        width: 300px;
        height: 300px;
        &:before, &:after{
          animation-delay: -3s;
        }
      }
      &.five{
        top: 28%;
        left: -8%;
        width: 200px;
        height: 200px;
        &:before, &:after{
          animation-delay: -4s;
        }
      }
    }
  }
  .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    color: $color-white;
    z-index: 6;
    font: 13px/18px $font-main;
    max-width: 100%;
    text-align: center;
    h2, h1{
      text-transform: uppercase;
      word-spacing: -3px;
      margin-bottom: 7px;
      letter-spacing: 2px;
      @include media('>=tablet'){
        margin-bottom: 10px;
        letter-spacing: 3px;
      }
    }
    p{
      margin-bottom: 18px;
      @include media('>=tablet'){
        padding-left: 6px;
      }
    }
    @include media('>=tablet'){
      font: 20px/46px $font-main;
      letter-spacing: 1px;
    }
  }
}
@keyframes pulse2 {
  0%, 100%{
    box-shadow: -40px 40px 40px rgba(65,0,163,0.25);
    transform: scale(1) rotate(-45deg) skew(14deg, 14deg);
  }
  50%{
    box-shadow: -15px 15px 10px rgba(65,0,163,0.25);
    transform: scale(0.95) rotate(-45deg) skew(14deg, 14deg);
  }
}
@keyframes scale2 {
  0%, 100%{
    transform: scale(1) rotate(-45deg) skew(14deg, 14deg);
  }
  50%{
    transform: scale(0.95) rotate(-45deg) skew(14deg, 14deg);
  }
}
.leaf-container{
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  @include media(">=tablet") {
    max-width: 808px;
  }
  @include media(">=desktop") {
    max-width: 1064px;
  }
  @include media(">=large") {
    max-width: 1467px;
  }
}
//end intro section
.skewed-text{
  position: relative;
  text-align: center;
  @include media(">=large") {
    font-size: 16px;
    line-height: 28px;
    margin-bottom:188px;
  }
  >p{
    max-width: 768px;
    margin-left:auto;
    margin-right: auto;
    @include media(">=desktop") {
      margin-bottom: 100px;
    }
    @include media(">=large") {
      margin-bottom: 150px;
    }
  }
  h1{
    text-transform: uppercase;
    color: $color-blue;
    margin-bottom: 15px;
  }
  .rhombus-holder{
    .rhombus{
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      margin-bottom: 20px;
      @include media(">=desktop") {
        padding: 0 14px;
        width: 50%;
        margin-bottom: 0;
        &:nth-child(1){
          width: 50%;
          margin-top: 28px;

        }
        &:nth-child(2){
          width: 44%;
          margin: 0 3.5% 0 0;

        }
        &:nth-child(3){
          margin: -2.3% 0 0 15%;
          width: 42.5%;
        }
      }
      @include media(">=large") {
        &:nth-child(1){
          .text{
            right: 68%;
            top: 62px;
          }
        }
        &:nth-child(2){
          .text{
            right: 66%;
            top: 35px;
          }
        }
        &:nth-child(3){
          .text{
            right: 85%;
            top: auto;
            bottom: 37%;
          }
        }
      }
    }
    img{
      display: block;
      width: 100%;
    }
    .skew-text{
      font-size: 60px;
      text-transform: uppercase;
      color: $color-mint;
      font-family: $font-title;
      letter-spacing: 1px;
      line-height: $headings-lh;
      font-weight: 400;
      @include media('>=xtablet'){
        font-size: 80px;
        line-height: 82px;
        position: absolute;
        top: 28%;
        left: 59%;
        transform: rotate(-30deg) skew(-29deg) translate(-50%, -50%);
        letter-spacing: 8px
      }
      @include media('>=large'){
        letter-spacing: 4px;
      }
    }
    .text{
      font: 14px/24px $font-main;
      color: $color-gray;
      padding-bottom: 15px;
      text-shadow: 1px 1px $color-white;
      @include media(">=xtablet") {
        text-align: left;
        position: absolute;
        right: 47%;
        top: 12px;
        width: 325px;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          width: 300px;
          height: 1px;
          background-color: $color-mint;
          opacity: .5;
          bottom: 1px;
          transform-origin: 100% 0 0;
        }
        &:before{
          content: '';
          position: absolute;
          left: 300px;
          bottom: 0;
          width: 3px;
          height: 3px;
          background-color: $color-mint;
        }
      }
      @include media('>=large'){
        right: 70%;
        top: 42px;
        &:after{
          width: 430px;
        }
        &:before{
          left: 430px;
        }
      }
    }
  }
}
//end skewed-text section
.numeric-list{
  p{
    overflow: hidden;
    margin-bottom: 0;
  }
  @include media(">=tablet") {
    line-height: 26px;
    padding-top: 54px;
  }
  li{
    list-style: none;
    overflow: hidden;
    margin-bottom: 20px;
    @include media(">=desktop") {
      margin-bottom: 40px;
    }
    @include media(">=large") {
      margin-bottom: 66px;
    }
  }
}
//end numeric-list section
.circles-section{
  overflow: hidden;
  margin-bottom: 30px;
  .two-titles{
    @include media(">=tablet") {
      width: 50%;
    }
  }
  p{
    margin-bottom: 0;
  }
  @include media(">=large") {
    font-size: 16px;
  }
  @include media(">=tablet") {
    margin-bottom: 50px;
  }
  @include media(">=desktop") {
    margin-bottom: 100px;
  }
  @include media(">=large") {
    margin-bottom: 150px;
  }
  .circles-holder{
    //overflow: hidden;
    text-align: center;
    h2{
      color: $color-blue;
      margin-bottom: 7px;
      letter-spacing: 3px;
    }
    .circle{
      position: relative;
      max-width: 90%;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      vertical-align: top;
      @include media("<tablet") {
        margin-bottom: 20px;
      }
      @include media(">=tablet", "<desktop") {
        width: 50%;
        margin-right: -4px;
      }
      svg{
        stroke-dashoffset: 164px;
        max-width: 100%;
        max-height: 100%;
        display: block;
        transform: rotate(90deg);
        //margin-right: -4px;
      }
      &:nth-child(1){
         svg{
           transform: rotate(146deg);
         }
        @include media(">=desktop") {
          width: 514px;
          height: 514px;
          margin-left: -7px;
        }

      }
      &:nth-child(2){
        svg{
          transform: rotate(224deg);
        }
        @include media(">=desktop") {
          width: 374px;
          height: 374px;
          margin: -50px 0 0 -100px;
        }
        @include media(">=large") {
          margin: -153px 0 0 294px;
        }
        h2{
          @include media(">=desktop") {
            font-size: 48px;
            line-height: 54px;
          }
        }
      }
      &:nth-child(3){
        svg{
          transform: rotate(-90deg);
        }
        @include media(">=desktop") {
          width: 268px;
          height: 268px;
          float: right;
          margin: 37px 1px 0 0;
        }
        h2{
          @include media(">=desktop") {
            font-size: 30px;
            line-height: 34px;
          }
        }
      }
      &:nth-child(4){
        svg{
          transform: rotate(145deg);
        }
        @include media(">=desktop") {
          width: 418px;
          height: 418px;
          margin: -52px 0 0 100px;
        }
        @include media(">=large") {
          margin: 162px 0 0 -49px;
        }
        h2{
          @include media(">=desktop") {
            font-size: 48px;
            line-height: 54px;
          }
        }
      }
    }
    .text-holder{
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
    }
  }
}
.two-col{
  margin: 0 -20px;
  overflow: hidden;
  margin-bottom: 30px;
  h2{
    color: $color-blue;
  }
  @include media(">=tablet") {
    margin: 0 -30px  50px;
    display: flex;
  }
  @include media(">=desktop") {
    margin-bottom: 100px;
    font-size: 14px;
    line-height: 26px;
  }
  @include media(">=large") {
    margin: 0 -90px  138px;

  }
  .col{
    padding: 0 20px;
    @include media(">=tablet") {
      width: 50%;
      padding: 0 30px;
    }
    @include media(">=large") {
      padding: 0 90px;
    }
  }
  .num{
    @include media(">=large") {
      font-size: 80px;
      line-height: 84px;
      margin-right: 38px;
    }
  }
}
.two-titles{
  @include media(">=tablet") {
    max-width: 600px;
    float: left;
    padding-top: 55px;
  }
  h1{
    color: $color-blue;
    margin-bottom: 6px;
  }
  h2{
    color: #c4d0ed;
    @include media(">=large") {
      letter-spacing: 4px;
    }
  }
}