//Resources holder
.resources-holder {
  @include media(">=desktop") {
    width: 59.5%;
    float: left;
  }
  & + .sidebar {
    @include media(">=1920px") {
      padding-top: 6px;
    }
  }
}

//Whitepapers list
.whitepapers-list {
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
  @include media(">=tablet") {
    padding-bottom: 30px;
    margin-bottom: 50px;
  }
  @include media(">=desktop") {
    padding: 26px 0 62px;
    margin-bottom: 105px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 1px;
    width: 100%;
    background-color: $color-mint;
    opacity: 0.5;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: -1px;
    width: 3px;
    height: 3px;
    background-color: $color-mint;
  }
  .table {
    @include media(">=desktop") {
      display: table;
      width: 100%;
    }
  }
  .wrap {
    @include media(">=desktop") {
      display: table-row;
    }
    > div {
      padding: 10px 0;
      @include media(">=460px") {
        display: inline-block;
        vertical-align: top;
        width: 48%;
      }
      @include media(">=tablet") {
        width: 23%;
      }
      @include media(">=desktop") {
        display: table-cell;
        vertical-align: middle;
        padding: 10px 0 30px;
        width: auto;
      }
    }
  }
  a {
    font: $main-fz/26px $font-medium;
    display: inline-block;
    vertical-align: top;
    color: $color-gray-darken;
    padding-left: 40px;
    margin-right: 10px;
    background: {
      repeat: no-repeat;
      size: 19px 15px;
      position: 0 50%;
    }
  }
}

//FAQ
.faq {
  position: relative;
  top: -10px;
  font: 14px/22px $font-medium;
  @include media(">=desktop") {
    line-height: 26px;
  }
  > p {
    margin-bottom: 10px;
    strong {
      font-weight: normal;
      font-size: 16px;
      @include media(">=desktop") {
        line-height: 28px;
      }
    }
  }
  .accordeon {
    margin-top: 15px;
    position: relative;
    @include media(">=desktop") {
      margin-top: 33px;
    }
    @include media(">=large") {
      margin-top: 43px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $color-mint;
      opacity: 0.5;
    }
  }
}