@import "libs/normalize";
@import "libs/mixins";
@import "blocks/fonts";
@import "libs/include-media";
@import "libs/styleguide";
@import "libs/odometer-theme-minimal";
@import "libs/slick";
//@import "gridflex/gridlex";

@import "blocks/preloader";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/popup";
@import "blocks/p404";
@import "blocks/homeAnimations";
@import "blocks/accordeon";
//@import "blocks/any-stand-alone-block";

@import "pages/common";
@import "pages/home";
@import "pages/our-team";
@import "pages/leaf";
@import "pages/news";

@import "blocks/innerAnimations";
.wrapper{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    z-index: 555555;
    top: 0;
    left: 0;
    right: 0;
    height: 9999px;
    background: url('#{$path-images}/loopring_main_13.jpg') 50% 0 no-repeat;
    opacity: 0.5;
    pointer-events: none;
    display: none;
  }
}

.sidebar{
  background-color: $color-blue;
  color: $color-white;

  width: 100%;
  max-width: 380px;
  padding: 35px 35px 15px;
  @include media(">=desktop") {
    float: right;
    padding:59px 40px 30px;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $color-white;
    margin-bottom: 17px;
  }
  a{
    color: #b6ccff;
  }
  img{
    margin-bottom: 16px;
  }
  p{
    margin-bottom: 15px;
  }
}