@import "libs/normalize";
@import "libs/mixins";
@import "blocks/fonts";
@import "libs/include-media";
@import "libs/styleguide";
@import "libs/odometer-theme-minimal";
@import "libs/slick";
//@import "gridflex/gridlex";

@import "blocks/preloader";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/popup";
@import "blocks/p404";
@import "blocks/homeAnimations";
@import "blocks/accordeon";
//@import "blocks/any-stand-alone-block";

@import "pages/common";
@import "pages/home";
@import "pages/team";
@import "pages/leaf";
@import "pages/news";
@import "pages/resources";
@import "pages/about";
@import "pages/developers";

@import "blocks/sidebar";
@import "blocks/innerAnimations";


//pixel perfect overlay
.wrapper{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    z-index: 555555;
    top: 0;
    left: 0;
    right: 0;
    height: 9999px;
    background: url('#{$path-images}/loopring_main_13.jpg') 50% 0 no-repeat;
    opacity: 0.5;
    pointer-events: none;
    display: none;
  }
}

