<div class="whitepapers-list animateMe">
    <h2 class="animateMe">Security Audit Reports</h2>
    <!--start table-->
    <div class="table animateMe">
        <div class="wrap">
            <div><a target="_blank" href="resources/Loopring_Messari_Report.pdf" style="background-image: url('images/ico-download.svg')"> Messari Research Report
                               </a>
            </div>
            <div><a target="_blank" href="resources/Loopring_Audit.pdf" style="background-image: url('images/ico-download.svg')">
              Loopring Protocol V1 Security Audit Report
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="resources/loopring_protocol_v2_audit_report_EN.pdf" style="background-image: url('images/ico-download.svg')">Loopring Protocol V2 Security Audit Report (English)
                               </a>
            </div>
            <div><a target="_blank" href="resources/loopring_protocol_v2_audit_report_CN.pdf" style="background-image: url('images/ico-download.svg')">路印协议v2.0智能合约审计报告
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="resources/Loopr_iOS_Security_Audit_Report_EN.pdf" style="background-image: url('images/ico-download.svg')">Loopring Wallet (iOS) Security Audit Report (English)
                               </a>
            </div>
            <div><a target="_blank" href="resources/Loopr_iOS_Security_Audit_Report_CN.pdf" style="background-image: url('images/ico-download.svg')">路印数字货币钱包（iOS）安全审计报告
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="resources/Loopr_Android_Security_Audit_Report_EN.pdf" style="background-image: url('images/ico-download.svg')">Loopring Wallet (Android) Security Audit Report (English)
                               </a>
            </div>
            <div><a target="_blank" href="resources/Loopr_Android_Security_Audit_Report_CN.pdf" style="background-image: url('images/ico-download.svg')">路印数字货币钱包（安卓）安全审计报告
                               </a>
            </div>
        </div>
    </div>
    <!--end table-->
</div>