<header class="header @@alter-class">
    <div class="logo-holder">
        <strong class="logo"><a href="home.html"><img src="images/logo.svg" alt="Loopring"/></a></strong>
        <div class="btn btn-menu"></div>
    </div>
    <nav>
        <div class="holder">
            <ul class="menu">
                <li class="@@about"><a href="about.html">About</a></li>
                <li class="@@leaf"><a href="leaf.html">Leaf</a></li>
                <li class="@@team"><a href="team.html">Team</a></li>
                <li class="@@resources"><a href="resources.html">Resources</a></li>
                <li class="@@overview"><a href="overview.html">Developer portal</a></li>
                <li class="@@news"><a href="news.html">News &amp; updates</a></li>
            </ul>
            <a href="https://loopring.io/" class="btn" target="_blank">loopring wallet</a>
  <!--           <div class="lang-box">
                <div class="text-holder-mobile">your language is
                    <div class="current">English</div>
                </div>
                <div class="text-holder-desktop">En</div> -->
<!--                 <div class="drop-down">
                    <div class="ovh">
                        <div class="btn-close"></div>
                    </div>
                    <ul>
                        <li class="current-lang"><a href="#"><span class="full"> English </span><span
                                class="short">EN</span></a></li>
                        <li><a href="#"><span class="full"> Chinese </span><span class="short">CN</span></a></li>
                        <li><a href="#"><span class="full"> Spanish </span><span class="short">SP</span></a></li>
                        <li><a href="#"><span class="full"> Japanese </span><span class="short">JP</span></a></li>
                        <li><a href="#"><span class="full"> French </span><span class="short">FR</span></a></li>
                        <li><a href="#"><span class="full"> Korean </span><span class="short">KO</span></a></li>
                        <li><a href="#"><span class="full"> Russian </span><span class="short">RU</span></a></li>
                        <li><a href="#"><span class="full"> Vietnamese </span><span class="short">VI</span></a></li>
                        <li><a href="#"><span class="full"> German </span><span class="short">DE</span></a></li>
                    </ul>
                </div> -->
            <!-- </div> -->
        </div>
    </nav>
</header>