<div class="whitepapers-list animateMe">
    <h2 class="animateMe">Blog</h2>
    <!--start table-->
    <div class="table animateMe">
        <div class="wrap">
            <div><a target="_blank" href="medium.com/loopring-protocol" style="background-image: url('images/star.png')">English Publication
                               </a>
            </div>
            <div><a target="_blank" href="https://medium.com/loopring-chinese" style="background-image: url('images/star.png')">Chinese Publication
                               </a></div>
            <div><a target="_blank" href="https://medium.com/loopring-russian" style="background-image: url('images/star.png')">Russian Publication
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="https://medium.com/loopring-german" style="background-image: url('images/star.png')">German Publication
                               </a>
            </div>
            <div><a target="_blank" href="https://medium.com/%E3%83%AB%E3%83%BC%E3%83%97%E3%83%AA%E3%83%B3%E3%82%B0-%E3%83%97%E3%83%AD%E3%83%88%E3%82%B3%E3%83%AB" style="background-image: url('images/star.png')">Japanese Publication
                               </a>
            </div>
            <div><a target="_blank" href="https://medium.com/%EB%A3%A8%ED%94%84%EB%A7%81-%ED%94%84%EB%A1%9C%ED%86%A0%EC%BD%9C" style="background-image: url('images/star.png')">Korean Publication
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="https://medium.com/loopring-italian" style="background-image: url('images/star.png')">Italian Publication
                               </a>
            </div>
            <div><a target="_blank" href="https://medium.com/loopring-spanish" style="background-image: url('images/star.png')">Spanish Publication</a>
            </div>
            <div><a target="_blank" href="https://medium.com/loopring-french" style="background-image: url('images/star.png')">French Publication
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="https://medium.com/loopring-portugues" style="background-image: url('images/star.png')">Portuguese Publication
                               </a>
            </div>
            <div><a target="_blank" href="https://medium.com/giao-th%E1%BB%A9c-loopring" style="background-image: url('images/star.png')">Vietnamese Publication
                               </a>
            </div>
        </div>
    </div>
    <!--end table-->
</div>