<section class="partners-logos animateMe">
    <h2>Strategic Partners</h2>
    <ul>
        <li><a target="_blank" href="https://blockchain.berkeley.edu/"><img src="images/partner/blockchain.png" alt="BLOCKCHAIN"/></a></li>
        <li><a target="_blank" href="https://secbit.io/"><img src="images/partner/secbit.png" alt="SECBIT"/></a></li>
        <li><a target="_blank" href="https://www.pwchk.com/"><img src="images/partner/pwd.png" alt="PWD"/></a></li>
        <li><a target="_blank" href=" https://defi.network/"><img src="images/partner/defi.png" alt="DEFI"/></a></li>
        <li><a target="_blank" href="https://www.fbg.capital/"><img src="images/partner/FBG.png" alt="FBG"/></a></li>
        <li><a target="_blank" href="https://www.mlgblockchain.com/"><img src="images/partner/MLGBlockchain.png" alt="MLGBlockchain"/></a></li>
        <!-- <li><a target="_blank" href="http://www.ethfinix.com/"><img src="images/partner/Ethfinex.png" alt="Ethfinex"/></a></li> -->
        <li><a target="_blank" href="http://ybfventures.com/"><img src="images/partner/YBFFintechHub.png" alt="YBF Fintech Hub"/></a></li>
        <li><a target="_blank" href="http://gbic.io/"><img src="images/partner/GBIC.png" alt="GBIC"/></a></li>
        <li><a target="_blank" href="http://www.obsidiancapital.co.za"><img src="images/partner/obsidian.png" alt="Obsidian Capital"/></a></li>
        <li><a target="_blank" href="https://www.berkeley.edu/"><img src="images/partner/UCBerkeley.png" alt="UC Berkeley"/></a></li>
        <li><a target="_blank" href="https://polymath.network/"><img src="images/partner/polymath.png" alt="Morpheus Wallet"/></a></li>
        <li><a target="_blank" href="https://MyCrypto.com"><img src="images/partner/MyCrypto.png" alt="MyCrypto"/></a></li>
        <li><a target="_blank" href="http://www.chinagrowthcapital.com/"><img src="images/partner/ChinaGrowthCapital.png" alt="ChinaGrowthCapital"/></a></li>
        <li><a target="_blank" href="http://MatrixCIB.com"><img src="images/partner/MATRIXCIB.png" alt="MATRIXCIB"/></a></li>
        <li><a target="_blank" href="https://alphachain.com/"><img src="images/partner/Alphachain.png" alt="Alphachain"/></a></li>
        <li><a target="_blank" href="http://univalues.org"><img src="images/partner/UniValues.png" alt="UniValues"/></a></li>
        <li><a target="_blank" href="https://neo.org"><img src="images/partner/NEO.png" alt="NEO"/></a></li>
        <li><a target="_blank" href="https://vite.org"><img src="images/partner/VITE.png" alt="VITE"/></a></li>
        <li><a target="_blank"><img src="images/partner/zsquarevc.png" alt="ZSquare"/></a></li>
        <li><a target="_blank" href="https://loopnest.io"><img src="images/partner/loopnest.png" alt="Loopnest"/></a></li>
    </ul>
</section>
<section class="partners-logos dex animateMe">
    <h2>Building on Loopring</h2>
    <p>Loopring is an open-sourced and transparent protocol for building decentralized exchanges. Also, DEXs and wallets building on top of Loopring Protocol can combine off-chain order sharing and on-chain settlement. The following products all integrate with Loopring Protocol to provide digital assets trading functionality.</p>
    <ul>
        <li>
            <a target="_blank" href="https://token.im" class="flip-item flip-item-front">
                <img src="images/partner/dex/imToken.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://token.im" class="flip-item-text">imToken is a simple, user-friendly and professional digital asset wallet, integrating the LoopringDEX</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://www.mytoken.io/" class="flip-item flip-item-front">
                <img src="images/partner/dex/MyToken.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://www.mytoken.io/" class="flip-item-text">MyToken is a leading one-stop crypto platform that provides cryptocurrency real-time charts, data analysis, ratings and industry news, building on top of the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://upwallet.io/" class="flip-item flip-item-front">
                <img src="images/partner/dex/UPWallet.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://upwallet.io/" class="flip-item-text">UP Wallet is an Ethereum mobile light-wallet built on the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://vivwallet.io" class="flip-item flip-item-front">
                <img src="images/partner/dex/vivwallet.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://vivwallet.io" class="flip-item-text">Vivwallet is a tradable Ethereum wallet integrating with Loopring Protocol, it also supports decentralized transactions building on top of the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://qbao.fund/#/" class="flip-item flip-item-front">
                <img src="images/partner/dex/Qbao.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://qbao.fund/#/" class="flip-item-text">Qbao is a feature-rich digital asset wallet enabling multi-chain asset management, it also supports decentralized transactions building on top of the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://www.dexlab.io/" class="flip-item flip-item-front">
                <img src="images/partner/dex/DEXLAB.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://www.dexlab.io/" class="flip-item-text">DEXLAB is a leading one-stop digital asset management platform, integrating the LoopringDEX.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://web.tokenest.io" class="flip-item flip-item-front">
                <img src="images/partner/dex/Tokenest.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://web.tokenest.io" class="flip-item-text">Tokenest is a digital wallet enabling cross-platform and user-friendly asset management, supporting decentralized transactions building on top of the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://uone.io/" class="flip-item flip-item-front">
                <img src="images/partner/dex/Uone.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://uone.io/" class="flip-item-text">Uone is a trading system based on Ethereum smart contract, supporting web-based LoopringDEX.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://dolomite.io/" class="flip-item flip-item-front">
                <img src="images/partner/dex/dolomite.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://dolomite.io/" class="flip-item-text">Dolomite is a DEX and portfolio management tool built on the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://timechain.com" class="flip-item flip-item-front">
                <img src="images/partner/dex/timechain.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://timechain.com" class="flip-item-text">Timechain is an integrated digital asset management platform, integrating the LoopringDEX.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://coinid.org/" class="flip-item flip-item-front">
                <img src="images/partner/dex/CoinID.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://coinid.org/" class="flip-item-text">Coinid is a highly secure hardware wallet, supporting decentralized transactions building on top of the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://www.thachain.org/" class="flip-item flip-item-front">
                <img src="images/partner/dex/Theia.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://www.thachain.org/" class="flip-item-text">Theia is a feature-rich digital asset wallet enabling multi-chain asset management, integrating the LoopringDEX.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="http://www.medishares.org/" class="flip-item flip-item-front">
                <img src="images/partner/dex/Mds.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="http://www.medishares.org/" class="flip-item-text">MDS is a secure and user-friendly crypto wallet, building on top of the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://aex.com" class="flip-item flip-item-front">
                <img src="images/partner/dex/AEX.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://aex.com" class="flip-item-text">AEX is a global professional digital asset platform, supporting decentralized transactions integrating the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="http://www.gtexgame.io/" class="flip-item flip-item-front">
                <img src="images/partner/dex/GTEX.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="http://www.gtexgame.io/" class="flip-item-text">GTExPortal is a local exchange in British, integrating the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://www.lcex.io" class="flip-item flip-item-front">
                <img src="images/partner/dex/Lcex.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://www.lcex.io" class="flip-item-text">Lcex is a digital asset trading platform, it also supports decentralized transactions building on top of the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://www.hayekex.com/index" class="flip-item flip-item-front">
                <img src="images/partner/dex/Hayekex.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://www.hayekex.com/index" class="flip-item-text">Hayekex is a global digital asset trading platform registered in Singapore, integrating the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://www.ellipal.com/" class="flip-item flip-item-front">
                <img src="images/partner/dex/Ellipal.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://www.ellipal.com/" class="flip-item-text">Ellipal is a secure crypto hardware wallet with mobile App support, integrating the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="http://www.mw-technologies.com" class="flip-item flip-item-front">
                <img src="images/partner/dex/MWTech.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="http://www.mw-technologies.com" class="flip-item-text">MWTech is an industry leading crypto assets management solution, supporting decentralized transactions building on top of the Loopring Protocol.</a>
            </span>
        </li>
        <li>
            <a target="_blank" href="https://www.tokenall.io/" class="flip-item flip-item-front">
                <img src="images/partner/dex/Tokenall.png" alt=""/>
            </a>
            <span class="flip-item flip-item-back">
                <a target="_blank" href="https://www.tokenall.io/" class="flip-item-text">Tokeall is a multi-currency digital asset wallet, integrating the Loopring Protocol.</a>
            </span>
        </li>
    </ul>
</section>
