<section class="partners-logos animateMe">
    <h2>Strategic Partners</h2>
    <ul>
        <li><a href="https://www.fbg.capital/"><img src="images/partner/FBG.png" alt="FBG"/></a></li>
        <li><a href="https://www.mlgblockchain.com/"><img src="images/partner/MLGBlockchain.png" alt="MLGBlockchain"/></a></li>
        <!-- <li><a href="http://www.ethfinix.com/"><img src="images/partner/Ethfinex.png" alt="Ethfinex"/></a></li> -->
        <li><a href="http://ybfventures.com/"><img src="images/partner/YBFFintechHub.png" alt="YBF Fintech Hub"/></a></li>
        <li><a href="http://gbic.io/"><img src="images/partner/GBIC.png" alt="GBIC"/></a></li>
        <li><a href="http://www.obsidiancapital.co.za"><img src="images/partner/obsidian.png" alt="Obsidian Capital"/></a></li>
        <li><a href="https://www.berkeley.edu/"><img src="images/partner/UCBerkeley.png" alt="UC Berkeley"/></a></li>
        <li><a href="https://www.morpheuswallet.com/"><img src="images/partner/MorpheusWallet.png" alt="Morpheus Wallet"/></a></li>
        <li><a href="https://MyCrypto.com"><img src="images/partner/MyCrypto.png" alt="MyCrypto"/></a></li>
        <li><a href="http://www.chinagrowthcapital.com/"><img src="images/partner/ChinaGrowthCapital.png" alt="ChinaGrowthCapital"/></a></li>
        <li><a href="http://MatrixCIB.com"><img src="images/partner/MATRIXCIB.png" alt="MATRIXCIB"/></a></li>
        <li><a href="https://alphachain.com/"><img src="images/partner/Alphachain.png" alt="Alphachain"/></a></li>
        <li><a href="#"><img src="images/partner/UniValues.png" alt="UniValues"/></a></li>
        <li><a href="https://neo.org"><img src="images/partner/NEO.png" alt="NEO"/></a></li>
        <li><a href="https://vite.org"><img src="images/partner/VITE.png" alt="VITE"/></a></li>
        <li><a href="#"><img src="images/partner/zsquarevc.png" alt="ZSquare"/></a></li>
        <li><a href="#"><img src="images/partner/loopnest.png" alt="Loopnest"/></a></li>
    </ul>
</section>
<section class="partners-logos dex animateMe">
    <h2>Ecosystem Partners</h2>
    <ul>
        <li><a href="https://www.dexlab.io/"><img src="images/partner/dex/DEXLAB.png" alt="DexLab"/></a></li>
        <li><a href="https://token.im"><img src="images/partner/dex/imToken.png" alt="imToken"/></a></li>
        <li><a href="http://en.loois.org/"><img src="images/partner/dex/LOOIS.png" alt="Loois"/></a></li>
        <li><a href="https://www.mytoken.io/"><img src="images/partner/dex/MyToken.png" alt="MyToken"/></a></li>
        <li><a href="https://qbao.fund/#/"><img src="images/partner/dex/Qbao.png" alt="Qbao"/></a></li>
        <li><a href="#"><img src="images/partner/dex/Tokenest.png" alt="Loopnest"/></a></li>
        <li><a href="https://uone.io/"><img src="images/partner/dex/Uone.png" alt="Uone"/></a></li>
          <li><a href="#"><img src="images/partner/dex/upblockchain.png" alt="Loopnest"/></a></li>
    </ul>
</section>