<div class="whitepapers-list animateMe">
    <h2 class="animateMe">Communities</h2>
    <!--start table-->
    <div class="table animateMe">
        <div class="wrap">
            <div><a target="_blank" href="https://t.me/Loopring_en" style="background-image: url('images/circle.png')">English Community
                               </a>
            </div>
            <div><a target="_blank" href="https://t.me/loopringfans" style="background-image: url('images/circle.png')">Chinese Community
                               </a></div>
            <div><a target="_blank" href="https://t.me/loopring_russian" style="background-image: url('images/circle.png')">Russian Community
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="https://t.me/Loopring_de" style="background-image: url('images/circle.png')">German Community
                               </a>
            </div>
            <div><a target="_blank" href="https://t.me/Loopring_jp" style="background-image: url('images/circle.png')">Japanese Community
                               </a>
            </div>
            <div><a target="_blank" href="https://t.me/loopring_kr" style="background-image: url('images/circle.png')">Korean Community
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="https://t.me/loopring_it" style="background-image: url('images/circle.png')">Italian Community
                               </a>
            </div>
            <div><a target="_blank" href="https://t.me/loopring_es" style="background-image: url('images/circle.png')">Spanish Community</a>
            </div>
            <div><a target="_blank" href="https://t.me/loopring_fr" style="background-image: url('images/circle.png')">French Community
                               </a>s
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="https://t.me/Loopring_pt" style="background-image: url('images/circle.png')">Portuguese Community
                               </a>
            </div>
            <div><a target="_blank" href="https://medium.com/giao-th%E1%BB%A9c-loopring" style="background-image: url('images/circle.png')">Vietnamese Community
                               </a>
            </div>
        </div>
    </div>
    <!--end table-->
</div>