<section class="history-slider-holder">
    <h2>milestones</h2>
    <div class="history-slider-nav">
        <div>
            <time datetime="2016-10-01">Oct 1, 2016</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2016-12-01">Dec 1, 2016</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2017-06-15">Jun 15, 2017</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2017-06-22">Jun 22, 2017</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2017-08-01">Aug 1, 2017</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2017-08-16">Aug 16, 2017</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2017-09-02">Sept 2, 2017</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2017-09-04">Sept 4, 2017</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2017-12-09">Dec 9, 2017</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2017-12-28">Dec 28, 2017</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2017-12-31">Dec 31, 2017</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-01-06">Jan 6, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-01-15">Jan 15, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-02-11">Feb 11, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-02-19">Feb 19, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-03-09">Mar 9, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-03-18">Mar 18, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-04-30">Apr 30, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-05-01">May 1, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-05-16">May 16, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-06-24">Jun 24, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-06-28">Jun 28, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-09-08">Sept 08, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-10-18">Oct 18, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-10-28">Oct 28, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
        <div>
            <time datetime="2018-11-07">Nov 07, 2018</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
             <div>
            <time datetime="2018-11-07">Mar 09, 2019</time>
            <div class="point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 37.2">
                    <path class="out" fill="#dceeff" stroke="#1c60ff" stroke-miterlimit="10" d="M.6 9.6l16-9 16 9v18l-16 9-16-9v-18z" />
                    <path class="in" fill="#1c60ff" d="M11.6 15.6l5-3 5 3v6l-5 3-5-3v-6z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="history-slider">
        <div>
            <h3><span class="for-big">oct 1, </span>2016</h3>
            <div class="sub-title">Loopring concept born</div>
            <p>With his prior-experience in centralized exchange, Daniel was determined to solve the outstanding issues in centralized exchange using blockchain and smart contract technology.</p>
        </div>
        <div>
            <h3><span class="for-big">Dec 1, </span>2016</h3>
            <div class="sub-title">Ring-matching concept verified</div>
            <p>Daniel simulated his ring-matching idea and on-chain trade settlement process using Scala.</p>
        </div>
        <div>
            <h3><span class="for-big">Jun 15, </span>2017</h3>
            <div class="sub-title">Whitepapers published</div>
            <p>Daniel, Jay, and Alex published the first version of the Loopring protocol whitepaper in Chinese - under the name "Multilateral Token Trade Protocol (MTTP)". </p>
        </div>
        <div>
            <h3><span class="for-big">Jun 22, </span>2017</h3>
            <div class="sub-title">Renamed to Loopring</div>
            <p>We founded the Loopring Foundation, switched to use Loopring as the protocol/project name, and started to use the https://loopring.org domain.</p>
        </div>
        <div>
            <h3><span class="for-big">Aug 1, </span>2017</h3>
            <div class="sub-title">Token sale kicked off</div>
            <p>We launched our token sale using Ethereum smart contracts. The soft and hard cap for our token sale were 50,000 and 120,000 Ether, respectively.</p>
        </div>
        <div>
            <h3><span class="for-big">Aug 16, </span>2017</h3>
            <div class="sub-title">Token sale concluded successfully</div>
            <p>We raised 120,000 Ether and issued 1,374,956,262 LRC in total, 50% of LRC were distributed to our token holders. ICO price: 0.000175 ETH/LRC</p>
        </div>
        <div>
            <h3><span class="for-big">Sept 2, </span>2017</h3>
            <div class="sub-title">LRC listed on Binance</div>
            <p>Binance added two trading pairs: LRC/ETH, LRC/BTC to enable LRC trading.</p>
        </div>
        <div>
            <h3><span class="for-big">Sept 4, </span>2017</h3>
            <div class="sub-title">Ether Raised Refunded</div>
            <p>Following China's new regulatory requirements, the Loopring foundation completed all refund requests.</p>
        </div>
        <div>
            <h3><span class="for-big">Dec 9, </span>2017</h3>
            <div class="sub-title">Protocol 1.0 deployed on Ethereum</div>
            <p>We have previously deployed multiple pre-release versions on Ethereum mainnet, and on December 9th, we finally deployed 1.0 version.</p>
        </div>
        <div>
            <h3><span class="for-big">Dec 28, </span>2017</h3>
            <div class="sub-title">Loopr Wallet MVP Launched</div>
            <p>Loopr (https://loopr.io) is a web-based non-custodial wallet that integrates with Loopring protocol. This MVP demonstrated Loopring Protocol's order matching and settlement mechanisms.</p>
        </div>
        <div>
            <h3><span class="for-big">Dec 31, </span>2017</h3>
            <div class="sub-title">2018 Roadmap Released</div>
            <p>We released <a href="https://medium.com/loopring-protocol/loopring-2018-rnd-roadmap-33b423526669">Loopring 2018 Dev Roadmap</a></p>
        </div>
        <div>
            <h3><span class="for-big">Jan 6, </span>2018</h3>
            <div class="sub-title">Protocol 1.0 deployed on Qtum</div>
            <p>The Loopring protocol smart contracts were deployed on Qtum mainnet.</p>
        </div>
        <div>
            <h3><span class="for-big">Jan 15, </span>2018</h3>
            <div class="sub-title">Joined Berkeley's Cross-chain Research</div>
            <p>Loopring Joined the <a href="https://medium.com/loopring-protocol/loopring-joins-the-research-initiative-led-by-professor-alessandro-chiesa-at-uc-berkeley-f09ad7cd524e">research initiative</a> led by professor Alessandro Chiesa at UC Berkeley.</p>
        </div>
        <div>
            <h3><span class="for-big">Feb 11, </span>2018</h3>
            <div class="sub-title">Dual-Authoring Patented & Published</div>
            <p><a href="https://medium.com/loopring-protocol/dual-authoring-looprings-solution-to-front-running-d0fc9c348ef1">Dual Authoring</a> is an anti front-running technology to prevent orders and rings from being stolen by middlemen or block miners.</p>
        </div>
        <div>
            <h3><span class="for-big">Feb 19, </span>2018</h3>
            <div class="sub-title">LEAF founded</div>
            <p>Loopring Ecosystem Advancement Fund, or LEAF, is an umbrella fund. Each of its sub-fund is dedicated to one of our target blockchains that the Loopring Protocol has been or will be deployed onto.</p>
        </div>
        <div>
            <h3><span class="for-big">Mar 9, </span>2018</h3>
            <div class="sub-title">LRC listed on Bittrex</div>
            <p> Bittrex is a top-tier crypto-trading platform based and fully regulated in the US. To qualify the listing, the LRC token has successfully passed the Howey Test.</p>
        </div>
        <div>
            <h3><span class="for-big">Mar 18, </span>2018</h3>
            <div class="sub-title">New Whitepaper Released</div>
            <p>We released a new whitepaper details the design and implementation of Loopring protocol on Ethereum.</p>
        </div>
        <div>
            <h3><span class="for-big">Apr 30, </span>2018</h3>
            <div class="sub-title">Loopr Beta3 Launched</div>
            <p>We redesigned Loopr's UX and UI and launched multiple beta versions. Loopr is now fully functional and works as expected.</p>
        </div>
        <div>
            <h3><span class="for-big">May 1, </span>2018</h3>
            <div class="sub-title">LRN Listed on 5 exchanges</div>
            <p>LRN, Loopring protocol token on NEO, were listed on gate, cex, syex.io, idax, and bitpaction.</p>
        </div>
        <div>
            <h3><span class="for-big">May 16, </span>2018</h3>
            <div class="sub-title">LRC Listed on Bithumb</div>
            <p>LRC was listed by Bithumb, one of the largest crypto-exchanges world-wide.</p>
        </div>
        <div>
            <h3><span class="for-big">Jun 24, </span>2018</h3>
            <div class="sub-title">Loopring Deployed on NEO Testnet</div>
            <p>We have deployed the first prototype of the Loopring Protocol on NEO testnet.</p>
        </div>
        <div>
            <h3><span class="for-big">Jun 28, </span>2018</h3>
            <div class="sub-title">Developer Portal Launched</div>
            <p>We collected a set of <a href="http://loopring.org/developers">documents</a> for community developers to better understand and use our protocol and open-sourced projects.</p>
        </div>
        <div>
            <h3><span class="for-big">Sept 08, </span>2018</h3>
            <div class="sub-title">Loopring Protocol V2 Fee Model Unveiled</div>
            <p>In <a href="https://medium.com/loopring-protocol/explaining-looprings-new-fee-model-b48b89a58858">this article</a> we explained the new fee model in upcoming protocol v2 release. </p><p>We also release a <a href="https://github.com/Loopring/whitepaper/raw/master/en_whitepaper.pdf">new whitepaper</a>.</p>
        </div>
        <div>
            <h3><span class="for-big">Oct 18, </span>2018</h3>
            <div class="sub-title">Loopring Joined DeFi</div>
            <p>Loopring Joins #DeFi to build up the decentralized financial system.</p>
        </div>
        <div>
            <h3><span class="for-big">Oct 28, </span>2018</h3>
            <div class="sub-title">Announced Bug and Optimization Bounty for Smart Contracts 2.0</div>
            <p>We set up big rewards for people who will enhance our protocol code quality</p>
        </div>
        <div>
            <h3><span class="for-big">Nov 07, </span>2018</h3>
            <div class="sub-title">PwC Hong Kong collaborates with Loopring Foundation</div>
            <p>Loopring and PwC started a joint initiative to explore standards and practices to support future security tokens and stablecoins.</p>
        </div>
             <div>
            <h3><span class="for-big">Mar 09, </span>2019</h3>
            <div class="sub-title">Relase Oedax Paper</div>
            <p>Oedax is Loopring's new auction based trading protocol that allows both buyers and sellers to participate after an auction starts.</p>
        </div>
    </div>
</section>
