<section class="video-block">
    <h2>videos</h2>
    <div class="video-slider">
        <div>
            <div class="holder">
                <div class="box">
                    <iframe width="1100" height="614" src="//www.youtube.com/embed/mwNPXZwbChk?rel=0&amp;enablejsapi=1" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video-placeholder" style="background-image:url('images/videocovers/2.jpg');">
                <a href="#" class="btn-watch">
                        <span class="ico">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.2 62.7">
                                <path class="svg-bg" stroke-miterlimit="10"
                                      d="M.5 15.9L27.5.4l27 15.5v31l-27 15.5-27-15.5v-31z"/>
                                <path class="svg-arrow" fill-rule="evenodd" d="M36.9 32l-13.5-8.8v17.5L36.9 32"
                                      clip-rule="evenodd"/>
                            </svg>
                        </span>Watch the Video</a>
                <div class="text-holder">
                    <h2>What is Loopring Protocol?</h2>
                </div>
            </div>
        </div>
        <div>
            <div class="holder">
                <div class="box">
                    <iframe width="1100" height="614" src="//www.youtube.com/embed/Wbvukangiyw?rel=0&amp;enablejsapi=1" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video-placeholder" style="background-image:url('images/videocovers/1.jpg');">
                <a href="#" class="btn-watch">
                        <span class="ico">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.2 62.7">
                                <path class="svg-bg" stroke-miterlimit="10"
                                      d="M.5 15.9L27.5.4l27 15.5v31l-27 15.5-27-15.5v-31z"/>
                                <path class="svg-arrow" fill-rule="evenodd" d="M36.9 32l-13.5-8.8v17.5L36.9 32"
                                      clip-rule="evenodd"/>
                            </svg>
                        </span>Watch the Video</a>
                <div class="text-holder">
                    <h2>Loopring</h2>
                    <p>The future decentralized exchange protocol.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="holder">
                <div class="box">
                    <iframe width="1100" height="614" src="//www.youtube.com/embed/yEfhRyfPZCo?rel=0&amp;enablejsapi=1" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video-placeholder" style="background-image:url('images/videocovers/3.jpg');">
                <a href="#" class="btn-watch">
                        <span class="ico">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.2 62.7">
                                <path class="svg-bg" stroke-miterlimit="10"
                                      d="M.5 15.9L27.5.4l27 15.5v31l-27 15.5-27-15.5v-31z"/>
                                <path class="svg-arrow" fill-rule="evenodd" d="M36.9 32l-13.5-8.8v17.5L36.9 32"
                                      clip-rule="evenodd"/>
                            </svg>
                        </span>Watch the Video</a>
                <div class="text-holder">
                    <h2>Loopring Interview w/ CEO Daniel Wang</h2>
                    <p>New Developments! (LRQ & LRN).</p>
                </div>
            </div>
        </div>
        <div>
            <div class="holder">
                <div class="box">
                    <iframe width="1100" height="614" src="//www.youtube.com/embed/7Ul1ITGATpY?rel=0&amp;enablejsapi=1" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video-placeholder" style="background-image:url('images/videocovers/4.jpg');">
                <a href="#" class="btn-watch">
                        <span class="ico">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.2 62.7">
                                <path class="svg-bg" stroke-miterlimit="10"
                                      d="M.5 15.9L27.5.4l27 15.5v31l-27 15.5-27-15.5v-31z"/>
                                <path class="svg-arrow" fill-rule="evenodd" d="M36.9 32l-13.5-8.8v17.5L36.9 32"
                                      clip-rule="evenodd"/>
                            </svg>
                        </span>Watch the Video</a>
                <div class="text-holder">
                    <h2>Loopring/h2>
                                <p>Another major exchange on the way.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="holder">
                            <div class="box">
                                <iframe width="1100" height="614" src="//www.youtube.com/embed/hyv3Jdvf6TM?rel=0&amp;enablejsapi=1" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="video-placeholder" style="background-image:url('images/videocovers/5.jpg');">
                            <a href="#" class="btn-watch">
                        <span class="ico">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.2 62.7">
                                <path class="svg-bg" stroke-miterlimit="10"
                                      d="M.5 15.9L27.5.4l27 15.5v31l-27 15.5-27-15.5v-31z"/>
                                <path class="svg-arrow" fill-rule="evenodd" d="M36.9 32l-13.5-8.8v17.5L36.9 32"
                                      clip-rule="evenodd"/>
                            </svg>
                        </span>Watch the Video</a>
                            <div class="text-holder">
                                <h2>Loopring Protocol on NEO</h2>
                </div>
            </div>
        </div>
    </div>
</section>