<div class="whitepapers-list animateMe">
    <h2 class="animateMe">Loopring Protocol Whitepaper</h2>
    <!--start table-->
    <div class="table animateMe">
        <div class="wrap">
            <div><a target="_blank" href="resources/en_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">English
                               </a>
            </div>
            <div><a target="_blank" href="resources/zh_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">Chinese
                               </a></div>
            <div><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/ko_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">Korean
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/de_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">German
                               </a>
            </div>
            <div><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/ru_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">Russian
                               </a>
            </div>
            <div><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/fr_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">French
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/it_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">Italian
                               </a>
            </div>
            <div><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/ja_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">Japanese
                               </a>
            </div>
            <div><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/ar_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">Arabic
                               </a>
            </div>
        </div>
        <div class="wrap">
            <div><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/pt_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">Portuguese
                               </a>
            </div>
            <div><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/es_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">Spanish
                               </a>
            </div>
            <div><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/vi_whitepaper.pdf" style="background-image: url('images/ico-download.svg')">Vietnamese
                               </a>
            </div>
        </div>
    </div>
    <!--end table-->

        <h2 class="animateMe">Oedax Auction Whitepaper</h2>
    <!--start table-->
    <div class="table animateMe">
        <div class="wrap">
            <div><a target="_blank" href="resources/en_oedax.pdf" style="background-image: url('images/ico-download.svg')">English
                               </a>
            </div>
            <div><a target="_blank" href="resources/zh_oedax.pdf" style="background-image: url('images/ico-download.svg')">Chinese
                               </a></div>

        </div>
    </div>
</div>