.accordeon {
  @include media(">=large") {
    margin-bottom: 55px;
  }
  &.anchor-list {
    @include media(">=desktop") {
      margin-top: -13px;
    }
    ul {
      padding: 5px 0 0 20px;
      @include media(">=desktop") {
        margin-bottom: -18px;
      }
    }
    li {
      margin-bottom: 6px;
    }
    a {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding-left: 9px;
      @include media(">=xtablet") {
        &:hover:after {
          background-color: #fefeff;
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 11px;
        width: 3px;
        height: 3px;
        background-color: #8dafff;
        border-radius: 50%;

      }
    }
  }
  li {
    list-style: none;
  }
  .acc-holder {
    padding: 0 0 20px;
    display: none;
    border-bottom: 1px solid rgba(63, 175, 255, 0.5);
    p:last-child {
      margin-bottom: 0;
    }
    @include media(">=desktop") {
      line-height: 26px;
      padding: 0 0 24px;
    }
    @include media(">=large") {
      padding: 0 0 34px;
    }
  }
  .title {
    cursor: pointer;
    font: 16px/28px $font-main;
    position: relative;
    padding: 20px 20px 20px 0;
    color: #67759a;
    border-bottom: 1px solid rgba(63, 175, 255, 0.5);
    transition: border-bottom 1ms 0.4s, padding-bottom .5s;
    .sidebar & {
      color: #fefeff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      line-height: 26px;
    }
    @include media(">=desktop") {
      padding: 24px 24px 24px 0;
      .sidebar & {
        padding: 20px 24px 20px 0;
      }
    }
    @include media(">=large") {
      padding: 34px 34px 34px 0;
    }
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-right: 1px solid #67759a;
      border-top: 1px solid #67759a;
      opacity: .8;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotateZ(45deg) rotateY(0deg);
      transition: transform .5s;
      .sidebar & {
        border-right: 1px solid #fefeff;
        border-top: 1px solid #fefeff;
      }
    }
    &.active {
      border-bottom: 1px solid rgba(63, 175, 255, 0);
      transition: border-bottom 1ms 0s, padding-bottom .5s;
      @include media(">=large") {
        padding-bottom: 10px;
      }
      &:after {
        transform: translateY(-50%) rotateZ(45deg) rotateX(180deg);
      }
    }
  }
}