.footer {
  padding: 20px;
  overflow: hidden;
  font: 12px/17px $font-main;
  @include media('>=tablet') {
    font: 14px/26px $font-main;
    padding: 20px 55px 47px 56px;

  }
  @include media('>=large') {
    padding:20px 62px 47px 63px;
  }
  .copy{
    text-align: center;
    @include media('>=xtablet') {
      float: left;
    }
  }
  .social {
    margin-bottom: 33px;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    @include media('>=xtablet') {
      float: right;
    }
    img{
      @include media('<tablet') {
        max-width: 25px;
      }
    }
    li {
      width: 25%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 32px;
      text-align: center;
      @include media('>=xtablet') {
        text-align: left;
        width: auto;
        max-width: 24px;
        max-height: 21px;
        margin-left: 32px;
        vertical-align: middle;
        margin-bottom: 0;
      }
      @include media('>=large') {
        max-width: 32px;
        max-height: 30px;
        margin-left: 39px;
      }
    }
  }
}

.no-touch{
    .footer .social li{
        &:hover{
          animation: swing .5s linear 1;
        }
    }
}
@keyframes swing {
  0%, 100%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(5deg);
  }
  75%{
    transform: rotate(-5deg);
  }
}