.header {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  max-height: 100vh;
  min-height: 0;
  background-color: transparent;
  transition: background-color .5s, min-height .7s;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  @include media('>=tablet') {
    padding: 40px 40px 0;
  }
  @include media('>=desktop') {
    padding-left: 55px;
    padding-right: 58px;
    display: block;
  }
  @include media('>=large') {
    padding-right: 45px;
    padding-left: 70px;
  }
  .btn-menu{
    background-color: transparent;
    float: right;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 3;
    &:before, &:after{
      content: '';
      height: 2px;
      width: 18px;
      background-color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: transform .5s, margin-top .5s;
      transform: translate(-50%, -50%);
      margin-top: -4px;
    }
    &:after{
      transform: translate(-50%, -50%);
      margin-top: 4px;
    }
    @include media('>=tablet') {
      width: 60px;
      height: 60px;
      &:before, &:after{
        height: 4px;
        width: 36px;
        margin-top: -8px;
      }
      &:after{
        margin-top: 8px;
      }
    }
    @include media('>=desktop') {
      display: none;
    }
    &.active{
      &:before, &:after{
        margin-top: 0;
        transform: translate(-50%,- 50%) rotate(45deg);
      }
      &:after{
        transform: translate(-50%,- 50%) rotate(-45deg);
      }
    }
  }
  &.opened{
    background-color: $color-blue;
    min-height: 100vh;
    @include media('<desktop') {
      overflow: auto;
    }
  }
  .logo-holder{
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    @include media('>=desktop') {
      float: left;
      margin-right: 20px;
      &:after{
        display: none;
      }
    }
  }
  .logo{
    width: 90px;
    height: 28px;
    float: left;
    position: relative;
    z-index: 3;
    @include media('>=tablet') {
      width: 180px;
      height: 55px;
    }
    @include media('>=desktop') {
      width: 143px;
      height: 44px;
    }
  }
  nav{
    padding: 45px 0 20px;
    text-transform: uppercase;
    display: none;
    @include media('>=desktop') {
      display: block !important;
      float: right;
      padding: 0;
      max-width: calc(100% - 165px);
    }
    .holder{
      height: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-rows:  1fr auto auto;
      grid-template-rows:  1fr auto auto;
      -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      align-items: center;
      max-width: 560px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      @include media('>=desktop') {
        display: block;
        width: auto;
        max-width: 100%;
      }
    }
    .menu{
      margin-bottom: 30px;
      font: 36px/51px $font-title-bold;
      @include media('>=tablet') {
        //font: 72px/102px $font-main;
      }
      @include media('>=desktop') {
        font: 14px/64px $font-title-bold;
        float: left;
        margin-bottom: 0;
        letter-spacing: 3.8px;
        word-spacing: 1px;
      }
      @include media('>=large') {
        font-size: 16px;
      }
      li{
        list-style: none;
        @include media('>=desktop') {
          float: left;
          margin:0 28px 0 0;
        }
        a{
          color: $color-white;
          text-decoration: none;
          display: inline-block;
          &:hover{
            text-decoration: underline;
          }
        }
        &.active a, .active {
          text-decoration: underline;
        }
      }
    }
    .btn{
      width: 100%;
      display: block;
      @include media('>=desktop') {
        float: left;
        width: auto;
        display: inline-block;
        margin: 5px 0 0 -2px;
        min-width: 182px;
      }
      @include media('>=large') {
        font-size: 16px;
      }
    }
  }
  .lang-box{
    position: relative;
    color: $color-white;
    font: 12px/33px $font-title;
    cursor: pointer;
    padding-right: 15px;
    text-transform: uppercase;
    @include media('>=desktop') {
      float: left;
      margin-top: 6px;
      padding: 0 1px;
      font: 16px/42px $font-title;
    }
    &:after, &:before{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 4px 4px 4px;
      border-color: transparent transparent $color-white transparent;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -3px;transition: opacity .5s;
      @include media('>=desktop') {
        opacity: .7;
        width: 11px;
        height: 11px;
        border-width: 0 0 1px 1px;
        border-color: $color-white;
        margin-top: -4px;
        transform: translateY(-50%) rotate(-45deg);
        transition: transform .5s, margin-top .5s, opacity .5s;
      }
    }
    &:after{
      margin-top: 3px;
      border-width: 4px 4px 0 4px;
      border-color: #fff transparent transparent transparent;
      @include media('>=desktop') {
        display: none;
      }
    }
    .current{
      text-decoration: underline;
      position: relative;
      display: inline-block;
    }
    .text-holder-mobile{
      @include media('>=desktop') {
        display: none;
      }
    }
    .text-holder-desktop{
      display: none;
      @include media('>=desktop') {
        display: block;
        padding: 5px 25px;
        position: relative;
        z-index: 2;
        opacity: .7;
        transition: opacity .5s;
      }
    }
    .btn-close{
      width: 25px;
      height: 25px;
      float: right;
      position: relative;
      &:after, &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 14px;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: $color-blue;
      }
      &:after{
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      @include media('>=desktop') {
        display: none;
      }
    }
    .drop-down{
      display: none;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, -12px);
      background-color: $color-white;
      padding: 10px 10px 30px 25px;
      width: 210px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.24);
      @include media('>=desktop') {
        bottom: auto;
        top: 100%;
        width: auto;
        padding: 0 15px;
        background-color: transparent;
        box-shadow: none;
      }
      &:after{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: #fff transparent transparent transparent;
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        @include media('>=desktop') {
          display: none;
        }
      }
      a{
        color: $color-purple;
        @include media('>=desktop') {
          color: rgba(255,255,255,0.7);
          &:hover{
            text-decoration: none;
            color: $color-white;
          }
        }
      }
      ul{
        margin-bottom: 0;
        font-size: 0;
        line-height: 0;
        letter-spacing: 0;
      }
      li{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        list-style: none;
        font: 12px/33px $font-title;
        @include media('>=desktop') {
          width: 100%;
          font: 16px/32px $font-title;
        }
      }
      .current-lang a, .current-lang{
        color: $color-blue;
        @include media('>=desktop') {
          display: none;
        }
      }
      .short{
        display: none;
        @include media('>=desktop') {
          display: inline;
        }
      }
      .full{
        @include media('>=desktop') {
          display: none;
        }
      }
    }
    &.active{
      .text-holder-desktop{
        opacity: 1;
      }
      &:before{
        transform: translateY(-50%) rotate3d(1, 0.4, 0, 180deg);
        margin-top: 3px;
        opacity: 1;
      }
    }
  }
}