.no-touch{
  .animateMe{
    @include media(">=xtablet") {
      //*{
      //  transition-timing-function: ease-out;
      //}
      &.header,  &.two-col-block, &.icons-list-holder, &.partners-logos{
        li, .lang-box, .btn, .logo-holder{
          opacity: 0;
          transform: translateY(100%);
          transition: transform 1s, opacity 1s, background 1s .3s, color 1s;
          transition-timing-function: ease-out;
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              transition-delay: #{$i/4}s;
            }
          }
        }
        &.animate{
          li, .lang-box, .btn, .logo-holder{
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      &.two-col-block {
        .description, .animate-block{
          opacity: 0;
          transform: translateY(100%);
          transition: transform 1s, opacity 1s;
          transition-timing-function: ease-out;
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              transition-delay: #{$i/4}s;
            }
          }
        }
        &.animate{
          .description, .animate-block{
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
      &.skew-block{
        .holder *{
          opacity: 0;
          transform: translateY(100%);
          transition: transform 1s, opacity 1s;
          transition-timing-function: ease-out;
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              transition-delay: #{$i/4}s;
            }
          }
        }
        &.animate{
          .holder *{
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
      &.icons-list-holder, &.long-animations{
        h2, h3{
          opacity: 0;
          transform: translateY(100%);
          transition: transform 1s, opacity 1s;
          transition-timing-function: ease-out;
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              transition-delay: #{$i/4}s;
            }
          }
        }
        &.animate{
          h2, h3{
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
      //&.long-animations{
      //  .slick-slide,  li{
      //    opacity: 0;
      //    transition: opacity 1s;
      //    transition-timing-function: ease-out;
      //    @for $i from 1 through 10 {
      //      &:nth-child(#{$i}) {
      //        transition-delay: #{$i/4}s;
      //      }
      //    }
      //  }
      //  &.animate{
      //    .slick-slide,  li{
      //      opacity: 1;
      //    }
      //  }
      //}
      &.history-slider-holder, &.video-block{
        opacity: 0;
        transform: translateY(100%);
        transition: transform 1s, opacity 1s;
        transition-timing-function: ease-out;
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            transition-delay: #{$i/4}s;
          }
        }
        &.animate{
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
  .long-animations, .skewed-text{
    @include media(">=xtablet") {
      li.animateMe, .rhombus.animateMe{
        .text{
          > *, &:before{
            opacity: 0;
            transition: opacity 1s 3s;
            transition-timing-function: ease-out;
          }
          &:after{
            transform: rotateY(-90deg);
            transition: transform 2s 1s;
            transition-timing-function: ease-out;
            opacity: 1 !important;
          }
        }
        //@for $i from 1 through 10 {
        //  &:nth-child(#{$i}) {
        //    transition-delay: #{$i/4}s;
        //  }
        //}
        &.animate{
          .text{
            > *, &:before{
              opacity: 1;
            }
            &:before{
              transition-delay: 3s;
              transition-duration: 1s;
            }
            &:after{
              transform: rotateY(0deg);
            }
          }
        }
      }
      li.animateMe{
        &.animate{
          &:nth-child(4), &:nth-child(3){
            .text{
              > *, &:before, &:after{
                transition-delay: 4s;
              }
            }
          }
        }
      }
    }
  }
}


//@todo remove for touches