.animateMe{
  @include media(">=xtablet") {
    &.team-list, &.members-list{
      li{
        opacity: 0;
        transform: translateY(100%);
        transition: transform .5s, opacity .5s;
        @for $i from 1 through 25 {
          &:nth-child(#{$i}) {
            transition-delay: #{$i/3}s;
            img, .holder{
              transition-delay: #{$i/3 * 2}s;
            }
          }
        }
        img{
          opacity: 0;
          transform: translateX(50%);
          transition: transform .7s, opacity .7s;
        }
        .holder{
          opacity: 0;
          transition: opacity 1.4s;
        }
      }
      &.animate{
        li{
          opacity: 1;
          transform: translateY(0);
          img{
            opacity: 1;
            transform: translateX(0);
          }
          .holder{
            opacity: 1;
          }
        }
      }
    }
  }
}
h1, h2, h3, h4, h5, h6{
  @include media(">=xtablet") {
    &.animateMe{
      opacity: 0;
      transform: translateY(100%);
      transition: transform .5s, opacity .5s;
      &.animate{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}