.p404{
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 100% auto;
  padding: 10px;
  @include media('>=desktop') {
    background-position: 50% 0;
  }
  .page-wrap{
    min-height: 430px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn{
      margin-bottom: 0;
    }
  }
  .h1, h1 {
    color: $color-blue;
    @include media('>=desktop') {
      font-size: 120px;
      line-height: 128px;
      margin-bottom: -7px;
    }
  }
  p{
    @include media('>=desktop') {
      margin-bottom: 41px;
      letter-spacing: -1;
    }
  }
  .btn{
    @include media('>=desktop') {
      padding-left: 43px;
      padding-right: 43px;
    }
  }
  .header{
    position: static;
    @include media('>=tablet') {
      position: absolute;
    }
    @include media('>=large') {
      padding-top: 50px;
    }
    .logo{
      float: none;
      margin-left: auto;
      margin-right: auto;
      display: block;
      @include media('>=large') {
        width: 180px;
        height: 55px;
      }
    }
  }
}