<footer class="footer @@alter-class">
    <ul class="social">
        <li><a href="https://github.com/loopring" target="_blank"><img src="../images/socials/github.svg" alt=""/></a></li>
        <li><a href="https://github.com/loopring" target="_blank"><img src="../images/socials/rocketchat.svg" alt=""/></a></li>
        <li><a href="https://twitter.com/loopringorg" target="_blank"><img src="../images/socials/twitter.svg" alt=""/></a></li>
        <li><a href="https://www.reddit.com/r/loopringorg/" target="_blank"><img src="../images/socials/Forma1.svg" alt=""/></a></li>
        <li><a href="https://medium.com/loopring-protocol" target="_blank"><img src="../images/socials/medium.svg" alt=""/></a></li>
        <li><a href="https://www.facebook.com/loopringofficial" target="_blank"><img src="../images/socials/facebook.svg" alt=""/></a></li>
        <li><a href="https://t.me/loopring_en" target="_blank"><img src="../images/socials/telegram.svg" alt=""/></a></li>
        <li><a href="https://www.youtube.com/results?search_query=loopring" target="_blank"><img src="../images/socials/youtube.svg" alt=""/></a></li>
    </ul>
    <p class="copy">&copy; 2018 Loopring Foundation. All rights reserved.</p>
</footer>
