<header class="header @@alter-class">
    <div class="logo-holder">
        <strong class="logo"><a href="/"><img src="../images/logo.svg" alt=""/></a></strong>
        <div class="btn btn-menu"></div>
    </div>
    <nav>
        <div class="holder">
            <ul class="menu">
                <li><a href="#">About</a></li>
                <li><a href="#">Leaf</a></li>
                <li class="active"><a href="#">Team</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Developer portal</a></li>
                <li><a href="#">News & updates</a></li>
            </ul>
            <a href="#" class="btn">loopring wallet</a>
            <div class="lang-box">
                <div class="text-holder-mobile">your language is
                    <!--current full name language-->
                    <div class="current">English</div>
                    <!--end current full name language-->
                </div>
                <!--current short name language-->
                <div class="text-holder-desktop">En</div>
                <!--end current short name language-->
                <div class="drop-down">
                    <div class="ovh"><div class="btn-close"></div></div>
                    <ul>
                        <li class="current-lang"><a href="#"><span class="full"> English </span><span class="short">EN</span></a></li>
                        <li><a href="#"><span class="full"> Chinese </span><span class="short">CN</span></a></li>
                        <li><a href="#"><span class="full"> Spanish </span><span class="short">SP</span></a></li>
                        <li><a href="#"><span class="full"> Japanese </span><span class="short">JP</span></a></li>
                        <li><a href="#"><span class="full"> French </span><span class="short">FR</span></a></li>
                        <li><a href="#"><span class="full"> Korean </span><span class="short">KO</span></a></li>
                        <li><a href="#"><span class="full"> Russian </span><span class="short">RU</span></a></li>
                        <li><a href="#"><span class="full"> Vietnamese </span><span class="short">VI</span></a></li>
                        <li><a href="#"><span class="full"> German </span><span class="short">DE</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>